# Python Bytecode-Cache
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
.venv/
venv/
env/
data/
.sessions/

# VS Code
.vscode/
.env

# Sonstige temporäre Dateien
*.log
*.tmp
.DS_Store
core_data.db
.log/
data/_archive_migration/
